<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>TEST</title>

    <meta name="author" content="A2A SmartCity">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dashboard Test">

    <script src="vendor/socket.io-client/dist/socket.io.js"></script>

  </head>
  <body>
    <h1>TEST</h1>
    <code id="payload">--</code>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="scripts/index.js"></script>
  </body>
</html>
